@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&family=Red+Hat+Display:wght@300;700&display=swap');

body, h1, p, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Display', sans-serif;
}

button {
  position: relative;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  cursor: pointer;
}

button div {
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

/* Optional: Apply Montserrat globally */
/* body {
  font-family: 'Montserrat', sans-serif;
} */
/* 
p {
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A;
  line-height: 1.6;
  margin-bottom: 1rem;
} */
/* Add to your global styles or a specific CSS module */
/* Add this to your global CSS or a specific CSS module */
/* Add this to your global CSS or a specific CSS module */
/* Add this to your global CSS or a specific CSS module */
.whatsapp_float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #25D366;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.whatsapp_float img {
  margin-right: 10px;
}
